/* ====================================================
	 General Styles
	 ==================================================== */
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #6B92B9;
  color: #f9f9f9;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lobster Two", cursive;
}

.container {
  max-width: 500px;
  margin: 80px auto 0;
  padding: 30px;
  border-radius: 15px;
  background-color: #D62822;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: relative;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration: 10s,3s;
  -webkit-animation-timing-function: linear,ease-in-out;
  -webkit-animation-iteration-count: infinite,infinite;
  -webkit-animation-play-state: running,running;
  animation-name: snowflakes-fall,snowflakes-shake;
  animation-duration: 10s,3s;
  animation-timing-function: linear,ease-in-out;
  animation-iteration-count: infinite,infinite;
  animation-play-state: running,running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s,0s;
  animation-delay: 0s,0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s,1s;
  animation-delay: 1s,1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s,.5s;
  animation-delay: 6s,.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s,2s;
  animation-delay: 4s,2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s,2s;
  animation-delay: 2s,2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s,3s;
  animation-delay: 8s,3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s,2s;
  animation-delay: 6s,2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s,1s;
  animation-delay: 2.5s,1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s,0s;
  animation-delay: 1s,0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s,1.5s;
  animation-delay: 3s,1.5s;
}

.santahat {
  width: 150px;
  top: -75px;
  right: -25px;
  transform: rotate(25deg);
  position: absolute;
  background:transparent;
}

@media (min-width: 780px) {
  .santahat {
    width: 220px;
    top: -75px;
    left: -105px;
    transform: rotate(-20deg);
  }
}

/* ====================================================
	 Instructions Styles
	 ==================================================== */
.instructions {
  text-align: center;
}

.instructions h1 {
  margin-top: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* ====================================================
	 Form Styles
	 ==================================================== */
.secretSantaForm input[type="text"],
.secretSantaForm input[type="date"],
.secretSantaForm input[type="datetime"],
.secretSantaForm input[type="email"],
.secretSantaForm input[type="number"],
.secretSantaForm input[type="search"],
.secretSantaForm input[type="time"],
.secretSantaForm input[type="url"],
.secretSantaForm input[type="password"],
.secretSantaForm textarea,
.secretSantaForm select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 3px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #f9f9f9;
  background: transparent;
  margin-bottom: 10px;
  height: 40px;
  color: #f9f9f9;
}
.secretSantaForm select option{
	background-color: #D62822;
	
}
.secretSantaForm textarea {
  resize: none;
  overflow: hidden;
}

.secretSantaForm fieldset {
  border: 0;
  border-radius: 5px;
  border-left: solid 5px #f9f9f9;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.secretSantaForm fieldset h3 {
  margin: 10px 0;
}

.secretSantaForm fieldset .button {
  padding: 11px 29px 10px;
  font-size: 1em;
  margin-top: 5px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 20px 0 5px;
}

.buttonContainer {
  text-align: center;
}

.button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #f9f9f9;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  padding: 11px 29px 10px;
  background-color: #97D6A6;
  border-color: #468263;
  margin: 10px;
  font-size: 1.2em;
  font-family: "Lobster Two", cursive;
}

.button:hover {
  background-color: #468263;
  border-color: rgba(0, 0, 0, 0.5);
}

/* ====================================================
	 Results Styles
	 ==================================================== */
.results {
  margin-top: 15px;
  border-radius: 5px;
  border-left: solid 5px #f9f9f9;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 10px 10px;
  font-size: 30px;
}

.results h3 {
  margin: 0 0 10px;
}

.results p {
  margin: 10px 0 0;
}

.results .button {
  padding: 11px 29px 10px;
  font-size: 1em;
  margin-top: 5px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 20px 0 5px;
}
